#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mainContainer {
  align-content: center;
}

.navbar {
  height: auto;
  width: 100vw;
  padding: 1em;
  align-content: center;
  background: var(--color-white);
}

.pageContainer {
  padding: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Styles for MainPage*/
.bellisLogo {
  width: 20%;
}

.container {
  max-width: 50%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.mainPageContainer {
  margin: 22px;
  padding: 5px;
  border-radius: 0 30px 0 0;
  border-style: solid;
  border-width: 12px;
  border-color: var(--color-primary);
  background: transparent;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.buttonContainer {
  margin: 5px 5px 5px 0;
  justify-self: start;
}

.mainPageContainer-heading {
  margin: 0px 5px;
  font-weight: bolder;
  color: var(--color-text);
}

.mainPageContainer-body {
  margin: 5px;
  font-weight: 400;
  text-align: start;
}

.mainPageContainer-search {
  border-color: var(--color-primary);
}

.mainPageContainer-statistics {
  border-color: var(--color-accent-light);
}

.mainPageContainer-lastUsed {
  border-color: var(--color-accent-mid);
}

.mainPageContainer-createNew {
  border-color: var(--color-secondary);
}

.mainPageContainerBtn {
  margin: 5px 0px 0px 0px;
  display: block;
}

.mainPageContainerBtn-search {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.mainPageContainerBtn-statistics {
  background: var(--color-accent-light);
  color: var(--color-white);
}

.mainPageContainerBtn-lastUsed {
  background: var(--color-accent-mid);
  color: var(--color-text);
}

.mainPageContainerBtn-createNew {
  background: var(--color-secondary);
  color: var(--color-text);
}
/*End - Styles for MainPage*/

/*Styles for SettingsPage*/
.passwordInput {
  margin-left: 10px;
}

.passwordChangeForm {
  padding: 5px 20px;
  border: solid var(--color-accent-dark);
  border-width: 5px 0 5px 0;
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.passwordChangeSubmitBtn {
  grid-column: 2;
  justify-self: end;
}
/*End - Styles for SettingsPage*/

footer {
  color: var(--color-gray);
}
